{% extends "layout1.html" %}

{% block main %}
    <style>
        .img {
            margin-left: 205px;
        }
    </style>

    <body>
    <div>
        <h1 class="gallerytitle">ART HEAUX</h1>
    </div>

    <div class="img">
        <div class="row">
            <div class="column">
                <img src="/static/hoe1.jpg" width="400" height="500">
                <img src="/static/hoe2.jpg" width="400" height="500">
                <img src="/static/hoe3.png" width="400" height="500">
                <img src="/static/hoe4.jpg" width="400" height="500">
                <img src="/static/hoe5.jpg" width="400" height="500">
                <img src="/static/hoe6.jpg" width="400" height="500">
                <img src="/static/hoe7.jpg" width="400" height="500">
                <img src="/static/hoe8.jpg" width="400" height="500">
                <img src="/static/hoe9.jpg" width="400" height="500">
                <img src="/static/hoe10.jpg" width="400" height="500">
            </div>
            <div class="column">
                <img src="/static/hoe1.jpg" width="400" height="500">
                <img src="/static/hoe2.jpg" width="400" height="500">
                <img src="/static/hoe3.png" width="400" height="500">
                <img src="/static/hoe4.jpg" width="400" height="500">
                <img src="/static/hoe5.jpg" width="400" height="500">
                <img src="/static/hoe6.jpg" width="400" height="500">
                <img src="/static/hoe7.jpg" width="400" height="500">
                <img src="/static/hoe8.jpg" width="400" height="500">
                <img src="/static/hoe9.jpg" width="400" height="500">
                <img src="/static/hoe10.jpg" width="400" height="500">
            </div>
            <div class="column">
                <img src="/static/hoe1.jpg" width="400" height="500">
                <img src="/static/hoe2.jpg" width="400" height="500">
                <img src="/static/hoe3.png" width="400" height="500">
                <img src="/static/hoe4.jpg" width="400" height="500">
                <img src="/static/hoe5.jpg" width="400" height="500">
                <img src="/static/hoe6.jpg" width="400" height="500">
                <img src="/static/hoe7.jpg" width="400" height="500">
                <img src="/static/hoe8.jpg" width="400" height="500">
                <img src="/static/hoe9.jpg" width="400" height="500">
                <img src="/static/hoe10.jpg" width="400" height="500">
            </div>
            <div class="column">
                {# img 1 #}
                <img class="myImg" src="/static/hoe1.jpg" width="400" height="500">
                <!-- The Modal -->
                <div class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content">
                    <a class="but"
                       href="https://amourvert.com/products/macheteslim-clip?view=zoom&variant=17246216519751&utm_expid=.WyZrDLDfSiybAYF4s7EiZQ.1&utm_referrer=https%3A%2F%2Famourvert.com%2Fcollections%2Faccessories%3Fview%3Dumbrella-product-nopage"
                       target="_blank">
                        CLIPS
                    </a>
                    <a class="but"
                       href="https://siizu.com/products/the-inanna-v-neck-cashmere-silk-sweater-lightblue?variant=27430914310"
                       target="_blank">
                        SWEATER
                    </a>
                </div>
                {# img 2 #}
                <img class="myImg" src="/static/hoe2.jpg" width="400" height="500">
                <!-- The Modal -->
                <div class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content">
                    <a class="but"
                       href="https://us.kowtowclothing.com/collections/tops/products/building-block-boyfriend-top-rose-navy-stripe"
                       target="_blank">
                        SHIRT
                    </a>
                </div>
                {# img 3 #}
                <img class="myImg" src="/static/hoe3.png" width="400" height="500">
                <!-- The Modal -->
                <div class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content">
                    <a class="but" href="https://www.wilfulnorth.com/product-page/blue-tit-silk-scarf"
                       target="_blank">
                        SCARF
                    </a>
                    <a class="but" href="https://www.mayamiko.com/products/reclaimed-jersey-bodycon-dress-acid-green"
                       target="_blank">
                        DRESS
                    </a>
                </div>
                {# img 4 #}
                <img class="myImg" src="/static/hoe4.jpg" width="400" height="500">
                <!-- The Modal -->
                <div class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content">
                    <a class="but"
                       href="https://www.made.uk.com/jewellery/ella-grace-x-made-divinity/sitting-waiting-wishing-earrings.html"
                       target="_blank">
                        EARRINGS
                    </a>
                </div>
                {# img 5 #}
                <img class="myImg" src="/static/hoe5.jpg" width="400" height="500">
                <!-- The Modal -->
                <div class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content">
                    <a class="but"
                       href="https://us.kowtowclothing.com/collections/bottoms/products/standard-pant-brick-denim"
                       target="_blank">
                        PANTS
                    </a>
                    <a class="but" href="https://www.pansy.co/shop/socks"
                       target="_blank">
                        SOCKS
                    </a>
                    <a class="but"
                       href="https://www.aurorashoeco.com/collections/west-indian/products/womens-west-indian-black"
                       target="_blank">
                        SHOES
                    </a>
                </div>
                {# img 6 #}
                <img class="myImg" src="/static/hoe6.jpg" width="400" height="500">
                <!-- The Modal -->
                <div class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content">
                    <a class="but" href="https://www.peopletree.co.uk/women/nerissa-stripe-top-in-navy-"
                       target="_blank">
                        STRIPED SHIRT
                    </a>
                    <a class="but"
                       href="https://us.kotn.com/collections/womens-new/products/womens-band-tee?variant=20403181682742"
                       target="_blank">
                        RED SHIRT
                    </a>
                    <a class="but" href="https://www.modo.com/brand/eco/mina/"
                       target="_blank">
                        SUNGLASSES
                    </a>
                </div>
                {# img 7 #}
                <img class="myImg" src="/static/hoe7.jpg" width="400" height="500">
                <!-- The Modal -->
                <div class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content">
                    <a class="but"
                       href="https://us.organicbasics.com/collections/all-womens-products/products/womens-lite-bralette?variant=20525341114479"
                       target="_blank">
                        BRALETTE
                    </a>
                    <a class="but" href="https://us.organicbasics.com/products/lite-white-singlet"
                       target="_blank">
                        UNDERWEAR
                    </a>
                    <a class="but"
                       href="https://symbologyclothing.com/collections/special-occasion/products/gingko-leaf-twisted-kimono-dress-in-ice-blue-silver-1"
                       target="_blank">
                        DRESS
                    </a>
                </div>
                {# img 8 #}
                <img class="myImg" src="/static/hoe8.jpg" width="400" height="500">
                <!-- The Modal -->
                <div class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content">
                    <a class="but"
                       href="https://www.everlane.com/products/womens-wool-oversized-blazer-glenplaid?collection=womens-outerwear"
                       target="_blank">
                        JACKET
                    </a>
                    <a class="but" href="https://www.thisisaday.com/#!/products/t-shirt"
                       target="_blank">
                        SHIRT
                    </a>
                    <a class="but" href="https://boyish-jeans.com/shop/jeans/straight-jeans/the-tommy-octopussy/"
                       target="_blank">
                        JEANS
                    </a>
                    <a class="but" href="https://conkershoes.com/product/derby-boot/#"
                       target="_blank">
                        BOOTS
                    </a>
                </div>
                {# img 9 #}
                <img class="myImg" src="/static/hoe9.jpg" width="400" height="500">
                <!-- The Modal -->
                <div class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content">
                    <a class="but2" href="https://www.thereformation.com/products/fawn-two-piece"
                       target="_blank">
                        TWO PIECE SUIT
                    </a>
                </div>
                {# img 10 #}
                <img class="myImg" src="/static/hoe10.jpg" width="400" height="500">
                <!-- The Modal -->
                <div class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content">
                    <a class="but" href="https://orchardmile.com/fivestory-new-york/basque-femme-beret-1-f0lab957b88?utm_campaign=Skimlinks.com&utm_medium=affiliate&utm_source=linkshare"
                       target="_blank">
                        BERET
                    </a>
                    <a class="but" href="https://amourvert.com/products/renata-silk-blouse?view=zoom&variant=16712065384519&utm_expid=.WyZrDLDfSiybAYF4s7EiZQ.1&utm_referrer=https%3A%2F%2Famourvert.com%2Fcollections%2Ftops%3Fview%3Dumbrella-product-nopage"
                       target="_blank">
                        TOP
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Get modal1
        var modal1 = document.getElementsByClassName("modal")[0];
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img1 = document.getElementsByClassName("myImg")[0];
        var modalImg1 = document.getElementsByClassName("modal-content")[0];
        img1.onclick = function () {
            modal1.style.display = "block";
            modalImg1.src = this.src;
        }
        // Get the <span> element that closes modal
        var span1 = document.getElementsByClassName("close")[0];
        // When the user clicks on <span> (x), close modal
        span1.onclick = function () {
            modal1.style.display = "none";
        }

        // Get modal2
        var modal2 = document.getElementsByClassName("modal")[1];
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img2 = document.getElementsByClassName("myImg")[1];
        var modalImg2 = document.getElementsByClassName("modal-content")[1];
        ;
        img2.onclick = function () {
            modal2.style.display = "block";
            modalImg2.src = this.src;
        }
        // Get the <span> element that closes modal
        var span2 = document.getElementsByClassName("close")[1];
        // When the user clicks on <span> (x), close modal
        span2.onclick = function () {
            modal2.style.display = "none";
        }

        // Get modal3
        var modal3 = document.getElementsByClassName("modal")[2];
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img3 = document.getElementsByClassName("myImg")[2];
        var modalImg3 = document.getElementsByClassName("modal-content")[2];
        ;
        img3.onclick = function () {
            modal3.style.display = "block";
            modalImg3.src = this.src;
        }
        // Get the <span> element that closes modal
        var span3 = document.getElementsByClassName("close")[2];
        // When the user clicks on <span> (x), close modal
        span3.onclick = function () {
            modal3.style.display = "none";
        }

        // Get modal4
        var modal4 = document.getElementsByClassName("modal")[3];
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img4 = document.getElementsByClassName("myImg")[3];
        var modalImg4 = document.getElementsByClassName("modal-content")[3];
        ;
        img4.onclick = function () {
            modal4.style.display = "block";
            modalImg4.src = this.src;
        }
        // Get the <span> element that closes modal
        var span4 = document.getElementsByClassName("close")[3];
        // When the user clicks on <span> (x), close modal
        span4.onclick = function () {
            modal4.style.display = "none";
        }

        // Get modal5
        var modal5 = document.getElementsByClassName("modal")[4];
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img5 = document.getElementsByClassName("myImg")[4];
        var modalImg5 = document.getElementsByClassName("modal-content")[4];
        ;
        img5.onclick = function () {
            modal5.style.display = "block";
            modalImg5.src = this.src;
        }
        // Get the <span> element that closes modal
        var span5 = document.getElementsByClassName("close")[4];
        // When the user clicks on <span> (x), close modal
        span5.onclick = function () {
            modal5.style.display = "none";
        }

        // Get modal6
        var modal6 = document.getElementsByClassName("modal")[5];
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img6 = document.getElementsByClassName("myImg")[5];
        var modalImg6 = document.getElementsByClassName("modal-content")[5];
        ;
        img6.onclick = function () {
            modal6.style.display = "block";
            modalImg6.src = this.src;
        }
        // Get the <span> element that closes modal
        var span6 = document.getElementsByClassName("close")[5];
        // When the user clicks on <span> (x), close modal
        span6.onclick = function () {
            modal6.style.display = "none";
        }

        // Get modal7
        var modal7 = document.getElementsByClassName("modal")[6];
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img7 = document.getElementsByClassName("myImg")[6];
        var modalImg7 = document.getElementsByClassName("modal-content")[6];
        ;
        img7.onclick = function () {
            modal7.style.display = "block";
            modalImg7.src = this.src;
        }
        // Get the <span> element that closes modal
        var span7 = document.getElementsByClassName("close")[6];
        // When the user clicks on <span> (x), close modal
        span7.onclick = function () {
            modal7.style.display = "none";
        }

        // Get modal8
        var modal8 = document.getElementsByClassName("modal")[7];
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img8 = document.getElementsByClassName("myImg")[7];
        var modalImg8 = document.getElementsByClassName("modal-content")[7];
        ;
        img8.onclick = function () {
            modal8.style.display = "block";
            modalImg8.src = this.src;
        }
        // Get the <span> element that closes modal
        var span8 = document.getElementsByClassName("close")[7];
        // When the user clicks on <span> (x), close modal
        span8.onclick = function () {
            modal8.style.display = "none";
        }

        // Get modal9
        var modal9 = document.getElementsByClassName("modal")[8];
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img9 = document.getElementsByClassName("myImg")[8];
        var modalImg9 = document.getElementsByClassName("modal-content")[8];
        ;
        img9.onclick = function () {
            modal9.style.display = "block";
            modalImg9.src = this.src;
        }
        // Get the <span> element that closes modal
        var span9 = document.getElementsByClassName("close")[8];
        // When the user clicks on <span> (x), close modal
        span9.onclick = function () {
            modal9.style.display = "none";
        }

        // Get modal10
        var modal10 = document.getElementsByClassName("modal")[9];
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img10 = document.getElementsByClassName("myImg")[9];
        var modalImg10 = document.getElementsByClassName("modal-content")[9];
        ;
        img10.onclick = function () {
            modal10.style.display = "block";
            modalImg10.src = this.src;
        }
        // Get the <span> element that closes modal
        var span10 = document.getElementsByClassName("close")[9];
        // When the user clicks on <span> (x), close modal
        span10.onclick = function () {
            modal10.style.display = "none";
        }
    </script>
    </body>
{% endblock %}