{% extends "layout1.html" %}

{% block main %}
    <style>
        .img {
            margin-left: 205px;
        }
    </style>

    <body>
    <div>
        <h1 class="gallerytitle">RICH B$TCH</h1>
    </div>

    <div class="img">
        <div class="row">
            <div class="column">
                <img src="/static/rb1.jpg" width="400" height="500">
                <img src="/static/rb2.jpg" width="400" height="500">
                <img src="/static/rb3.jpg" width="400" height="500">
                <img src="/static/rb5.jpg" width="400" height="500">
                <img src="/static/rb7.jpg" width="400" height="500">
                <img src="/static/rb8.jpg" width="400" height="500">
                <img src="/static/rb10.jpg" width="400" height="500">
                <img src="/static/rb11.jpg" width="400" height="500">
                <img src="/static/rb12.jpg" width="400" height="500">
            </div>
            <div class="column">
                <img src="/static/rb1.jpg" width="400" height="500">
                <img src="/static/rb2.jpg" width="400" height="500">
                <img src="/static/rb3.jpg" width="400" height="500">
                <img src="/static/rb5.jpg" width="400" height="500">
                <img src="/static/rb7.jpg" width="400" height="500">
                <img src="/static/rb8.jpg" width="400" height="500">
                <img src="/static/rb10.jpg" width="400" height="500">
                <img src="/static/rb11.jpg" width="400" height="500">
                <img src="/static/rb12.jpg" width="400" height="500">
            </div>
            <div class="column">
                <img src="/static/rb1.jpg" width="400" height="500">
                <img src="/static/rb2.jpg" width="400" height="500">
                <img src="/static/rb3.jpg" width="400" height="500">
                <img src="/static/rb5.jpg" width="400" height="500">
                <img src="/static/rb7.jpg" width="400" height="500">
                <img src="/static/rb8.jpg" width="400" height="500">
                <img src="/static/rb10.jpg" width="400" height="500">
                <img src="/static/rb11.jpg" width="400" height="500">
                <img src="/static/rb12.jpg" width="400" height="500">
            </div>
            <div class="column">
                {# img 1 #}
                <img class="myImg" src="/static/rb1.jpg" width="400" height="500">
                <!-- The Modal -->
                <div class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content">
                    <a class="but" href="https://www.thereformation.com/products/viviana-top"
                       target="_blank">
                        TOP
                    </a>
                    <a class="but"
                       href="https://shopsoko.com/collections/earrings/products/sabi-large-drop-hoop-earrings"
                       target="_blank">
                        EARRINGS
                    </a>
                </div>
                {# img 2 #}
                <img class="myImg" src="/static/rb2.jpg" width="400" height="500">
                <!-- The Modal -->
                <div class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content">
                    <a class="but"
                       href="https://roundplussquare.com/collections/bandanas-shawls/products/aquarelle-paisley-shawl"
                       target="_blank">
                        HAIR SCARF
                    </a>
                </div>
                {# img 3 #}
                <img class="myImg" src="/static/rb3.jpg" width="400" height="500">
                <!-- The Modal -->
                <div class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content">
                    <a class="but"
                       href="https://www.everlane.com/products/womens-cocoon-coat-loden?collection=womens-outerwear"
                       target="_blank">
                        COAT
                    </a>
                    <a class="but"
                       href="https://us.kotn.com/collections/womens/products/mock-neck-tank?variant=20372639907894"
                       target="_blank">
                        TURTLENECK
                    </a>
                    <a class="but"
                       href="https://www.everlane.com/products/womens-high-rise-straight-jean-regular-bone?collection=womens-jeans"
                       target="_blank">
                        JEANS
                    </a>
                    <a class="but"
                       href="https://www.everlane.com/products/womens-modern-tassel-loafer-black?collection=womens-loafers-oxfords"
                       target="_blank">
                        LOAFERS
                    </a>
                </div>
                {# img 5 SKIPPED 4 #}
                <img class="myImg" src="/static/rb5.jpg" width="400" height="500">
                <!-- The Modal -->
                <div class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content">
                    <a class="but" href="https://www.everlane.com/products/boxcut-tee-white?collection=womens-tees"
                       target="_blank">
                        SHIRT
                    </a>
                    <a class="but"
                       href="https://www.everlane.com/products/womens-wide-leg-chino-stone?collection=womens-bottoms"
                       target="_blank">
                        PANTS
                    </a>
                    <a class="but"
                       href="https://www.everlane.com/products/womens-square-toe-flat-light-taupe?collection=womens-flats"
                       target="_blank">
                        SHOES
                    </a>
                </div>
                {# img 7 SKIPPED 6 #}
                <img class="myImg" src="/static/rb7.jpg" width="400" height="500">
                <!-- The Modal -->
                <div class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content">
                    <a class="but" href="https://www.thereformation.com/products/reign-top?color=Daisy+Chain&via=Z2lkOi8vcmVmb3JtYXRpb24td2VibGluYy9Xb3JrYXJlYTo6Q2F0YWxvZzo6Q2F0ZWdvcnkvNWE2YWRmZDNmOTJlYTExNmNmMDRlOWM5"
                       target="_blank">
                        SHIRT
                    </a>
                    <a class="but" href="https://shopredone.com/collections/straight-leg/products/comfort-stretch-high-rise-stove-pipe-dark-71?variant=22872702255162"
                       target="_blank">
                        JEANS
                    </a>
                    <a class="but" href="https://www.everlane.com/products/womens-day-high-heel-bone?collection=womens-shoes"
                       target="_blank">
                        HEELS
                    </a>
                </div>
                {# img 8 #}
                <img class="myImg" src="/static/rb8.jpg" width="400" height="500">
                <!-- The Modal -->
                <div class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content">
                    <a class="but" href="https://www.thereformation.com/products/hogan-top?color=White&via=Z2lkOi8vcmVmb3JtYXRpb24td2VibGluYy9Xb3JrYXJlYTo6Q2F0YWxvZzo6Q2F0ZWdvcnkvNWE2YWRmZDNmOTJlYTExNmNmMDRlOWM5"
                       target="_blank">
                        BLOUSE
                    </a>
                    <a class="but" href="https://lurellybridal.com/collections/skirts/products/athena-skirt"
                       target="_blank">
                        SKIRT
                    </a>
                </div>
                {# img 10 SKIPPED 9 #}
                <img class="myImg" src="/static/rb10.jpg" width="400" height="500">
                <!-- The Modal -->
                <div class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content">
                    <a class="but" href="https://ecoture.com.au/products/noumenon-madame-jacket"
                       target="_blank">
                        BLAZER
                    </a>
                    <a class="but" href="https://www.everlane.com/products/womens-clean-slk-sslv-notch-shirt-mist?collection=womens-tops"
                       target="_blank">
                        SHIRT
                    </a>
                    <a class="but" href="https://boyish-jeans.com/shop/jeans/straight-jeans/the-kirby-never-so-few/"
                       target="_blank">
                        JEANS
                    </a>
                    <a class="but" href="https://www.everlane.com/products/womens-block-heel-sandal-sandlizard?collection=womens-shoes"
                       target="_blank">
                        SHOES
                    </a>
                </div>
                {# img 11 #}
                <img class="myImg" src="/static/rb11.jpg" width="400" height="500">
                <!-- The Modal -->
                <div class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content">
                    <a class="but" href="https://www.thereformation.com/products/dallas-top?color=Jayne&via=Z2lkOi8vcmVmb3JtYXRpb24td2VibGluYy9Xb3JrYXJlYTo6Q2F0YWxvZzo6Q2F0ZWdvcnkvNWE2YWRmZDNmOTJlYTExNmNmMDRlOWM5"
                       target="_blank">
                        BLOUSE
                    </a>
                </div>
                {# img 11 #}
                <img class="myImg" src="/static/rb12.jpg" width="400" height="500">
                <!-- The Modal -->
                <div class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content">
                    <a class="but" href="https://us.kotn.com/collections/womens-new/products/fitted-turtleneck?variant=20372610089014"
                       target="_blank">
                        TOP
                    </a>
                    <a class="but" href="https://www.thereformation.com/products/violetta-skirt?color=Rajah&via=Z2lkOi8vcmVmb3JtYXRpb24td2VibGluYy9Xb3JrYXJlYTo6Q2F0YWxvZzo6Q2F0ZWdvcnkvNWE2YWRmZDNmOTJlYTExNmNmMDRlOWNh"
                       target="_blank">
                        SKIRT
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Get modal1
        var modal1 = document.getElementsByClassName("modal")[0];
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img1 = document.getElementsByClassName("myImg")[0];
        var modalImg1 = document.getElementsByClassName("modal-content")[0];
        img1.onclick = function () {
            modal1.style.display = "block";
            modalImg1.src = this.src;
        }
        // Get the <span> element that closes modal
        var span1 = document.getElementsByClassName("close")[0];
        // When the user clicks on <span> (x), close modal
        span1.onclick = function () {
            modal1.style.display = "none";
        }

        // Get modal2
        var modal2 = document.getElementsByClassName("modal")[1];
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img2 = document.getElementsByClassName("myImg")[1];
        var modalImg2 = document.getElementsByClassName("modal-content")[1];
        ;
        img2.onclick = function () {
            modal2.style.display = "block";
            modalImg2.src = this.src;
        }
        // Get the <span> element that closes modal
        var span2 = document.getElementsByClassName("close")[1];
        // When the user clicks on <span> (x), close modal
        span2.onclick = function () {
            modal2.style.display = "none";
        }

        // Get modal3
        var modal3 = document.getElementsByClassName("modal")[2];
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img3 = document.getElementsByClassName("myImg")[2];
        var modalImg3 = document.getElementsByClassName("modal-content")[2];
        ;
        img3.onclick = function () {
            modal3.style.display = "block";
            modalImg3.src = this.src;
        }
        // Get the <span> element that closes modal
        var span3 = document.getElementsByClassName("close")[2];
        // When the user clicks on <span> (x), close modal
        span3.onclick = function () {
            modal3.style.display = "none";
        }

        // Get modal4
        var modal4 = document.getElementsByClassName("modal")[3];
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img4 = document.getElementsByClassName("myImg")[3];
        var modalImg4 = document.getElementsByClassName("modal-content")[3];
        ;
        img4.onclick = function () {
            modal4.style.display = "block";
            modalImg4.src = this.src;
        }
        // Get the <span> element that closes modal
        var span4 = document.getElementsByClassName("close")[3];
        // When the user clicks on <span> (x), close modal
        span4.onclick = function () {
            modal4.style.display = "none";
        }

        // Get modal5
        var modal5 = document.getElementsByClassName("modal")[4];
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img5 = document.getElementsByClassName("myImg")[4];
        var modalImg5 = document.getElementsByClassName("modal-content")[4];
        ;
        img5.onclick = function () {
            modal5.style.display = "block";
            modalImg5.src = this.src;
        }
        // Get the <span> element that closes modal
        var span5 = document.getElementsByClassName("close")[4];
        // When the user clicks on <span> (x), close modal
        span5.onclick = function () {
            modal5.style.display = "none";
        }

        // Get modal6
        var modal6 = document.getElementsByClassName("modal")[5];
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img6 = document.getElementsByClassName("myImg")[5];
        var modalImg6 = document.getElementsByClassName("modal-content")[5];
        ;
        img6.onclick = function () {
            modal6.style.display = "block";
            modalImg6.src = this.src;
        }
        // Get the <span> element that closes modal
        var span6 = document.getElementsByClassName("close")[5];
        // When the user clicks on <span> (x), close modal
        span6.onclick = function () {
            modal6.style.display = "none";
        }

        // Get modal7
        var modal7 = document.getElementsByClassName("modal")[6];
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img7 = document.getElementsByClassName("myImg")[6];
        var modalImg7 = document.getElementsByClassName("modal-content")[6];
        ;
        img7.onclick = function () {
            modal7.style.display = "block";
            modalImg7.src = this.src;
        }
        // Get the <span> element that closes modal
        var span7 = document.getElementsByClassName("close")[6];
        // When the user clicks on <span> (x), close modal
        span7.onclick = function () {
            modal7.style.display = "none";
        }

        // Get modal8
        var modal8 = document.getElementsByClassName("modal")[7];
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img8 = document.getElementsByClassName("myImg")[7];
        var modalImg8 = document.getElementsByClassName("modal-content")[7];
        ;
        img8.onclick = function () {
            modal8.style.display = "block";
            modalImg8.src = this.src;
        }
        // Get the <span> element that closes modal
        var span8 = document.getElementsByClassName("close")[7];
        // When the user clicks on <span> (x), close modal
        span8.onclick = function () {
            modal8.style.display = "none";
        }

        // Get modal9
        var modal9 = document.getElementsByClassName("modal")[8];
        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img9 = document.getElementsByClassName("myImg")[8];
        var modalImg9 = document.getElementsByClassName("modal-content")[8];
        ;
        img9.onclick = function () {
            modal9.style.display = "block";
            modalImg9.src = this.src;
        }
        // Get the <span> element that closes modal
        var span9 = document.getElementsByClassName("close")[8];
        // When the user clicks on <span> (x), close modal
        span9.onclick = function () {
            modal9.style.display = "none";
        }
    </script>
    </body>
{% endblock %}